@font-face {
  font-family: raleway;
  src: url(/fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: ralewayMed;
  src: url(/fonts/Raleway/Raleway-Medium.ttf);
}

body {
  padding: ;
  font-family: raleway;
}
a{
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #000;
}
a:hover {
  color: #D3D3D3;
}

#nav {
  position: fixed;
  background-color: #F3F3F3;
  width: 100%;
  border-bottom: solid 1px #ccc;
  margin-top: -10px;
  margin-left: -10px;
}
#content {
  padding: 50px;
  padding-top: 90px;
}
#logo {
  float:left;
  padding: 10px;
  display: inline-block;
}

.navbutton {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  padding: 7px;
  font-family: ralewayMed;
  background-color: #D3D3D3;
  border-radius: 15px;
  border: none;
  border-bottom: solid 5px #878787;
  border-right: solid 5px #878787;
}
.navbutton:active {
  border: none;
}
.navbutton:focus {
  outline: 0;
}
#title{
  margin-left: 40px;
}
#testp {
  padding: 20px;
  padding-top: 0px;
}
#search {
  display: inline;
  float: left;
  margin-top: 0px;
  margin-left: 180px;
}
#go{
  padding: 7px;
  margin-left: 10px;
}
#searchbox {
  margin-top: 25px;
  padding: 7px;
  border-radius: 7px;
}
#categories{
  line-height: 24px;
  background-color: #F3F3F3;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
}
#browse{
  max-width: 980px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 240px;
  margin-top: -160px;
  background-color: #F3F3F3;
  display: inline-block;
}
.dummyProduct{
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: #878787;
  display: inline-block;
}