<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel='stylesheet' href='/stylesheets/loginstyle.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div>

    {{#if boolean}}
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #47474C;">

    <a class="navbar-brand navbar nav" href="/home"</a>
      <img src="/images/webbeaver.png" width="90" height="40" class="d-inline-block" alt="">

    </a>

    <button class = 'navbar-toggle' data-toggle = 'collapse' data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-left original">
          <!-- ******** NEW ITEM ********  -->
            <!-- Trigger the modal with a button -->
          <li class="nav-item">
            <a class="nav-link" href="/clothes">Clothes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tech">Tech</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/furniture">Furniture</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right original">

           <!--  <a data-toggle="modal" data-target="#newitem">List an Item</a> -->

            <!-- Modal -->
            <!-- <div class="modal fade" id="newitem" role="dialog">
              <div class="modal-dialog"> -->
                <!-- Modal content-->
               <!--  <div class="modal-content">
                    <h1>Post a new item</h1>
                    <div id="itemform">
                      <form method="post" action="/uploaditem" enctype="multipart/form-data">
                      <input id="itemname" class='inputbox' type='text' maxlength="15" placeholder='item name' name='itemname' required> 
                      &#36;&#32;<input id='price' class='inputbox' type="number" placeholder='price' name='price' required>
                      <br>
                      <textarea id='description' rows="8" placeholder='description' name='description' cols="50" required></textarea> <br>
                      
                      <select id='category' name = 'category' required>
                        <option value="clothes">Clothes</option>
                        <option value="book">Books</option>
                        <option value="tech">Tech</option>
                        <option value="furniture">Furniture</option>
                      </select>

                      <input id="inserttag" class='inputbox' type='text' placeholder='add tags' name='inserttag'>
                      <button id="addtag" class="contentbutton" type='button'>add</button><br>
                      <div id="tags"></div>

                      <input type="file" name="picture" />

                      <button id="submititem" class="contentbutton" type = 'submit'>list it!</button>&#32;
                      <button type="button" class="contentbutton" onclick="location.href='/home'">cancel</button><br>
                      </form>
                  </div>
                  <script src="/scripts/addtag.js"></script>
                </div>
              </div>
              </div> -->

          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Welcome, {{firstname}}!
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                 <a data-toggle="modal" data-target="#newitem">List an Item</a>

            <!-- Modal -->
                  <div class="modal fade" id="newitem" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                          <h1>Post a new item</h1>
                          <div id="itemform">
                            <form method="post" action="/uploaditem" enctype="multipart/form-data">
                            <input id="itemname" class='inputbox' type='text' maxlength="15" placeholder='item name' name='itemname' required> 
                            &#36;&#32;<input id='price' class='inputbox' type="number" placeholder='price' name='price' required>
                            <br>
                            <textarea id='description' rows="8" placeholder='description' name='description' cols="50" required></textarea> <br>
                            
                            <select id='category' name = 'category' required>
                              <option value="clothes">Clothes</option>
                              <option value="book">Books</option>
                              <option value="tech">Tech</option>
                              <option value="furniture">Furniture</option>
                            </select>

                            <input id="inserttag" class='inputbox' type='text' placeholder='add tags' name='inserttag'>
                            <button id="addtag" class="contentbutton" type='button'>add</button><br>
                            <div id="tags"></div>

                            <input type="file" name="picture" />

                            <button id="submititem" class="contentbutton" type = 'submit'>list it!</button>&#32;
                            <button type="button" class="contentbutton" onclick="location.href='/home'">cancel</button><br>
                            </form>
                        </div>
                        <script src="/scripts/addtag.js"></script>
                      </div>
                    </div>
                    </div>
           
                <li role="presentation"><a class="nav-link" href="/starreditems">Starred Items</a></li>
                <li role="presentation"><a class="nav-link" href="/profile">Profile</a></li>
                <li role="presentation"><a class="nav-link" href="/manageitems">Manage Items</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <<!-- div class="collapse navbar-collapse navHeaderCollapse textin">
          <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/clothes">Clothes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tech">Tech</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/furniture">Furniture</a>
          </li>
        </ul>

      </div> -->
    </nav>

  {{else}}

  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #47474C;">

    <a class="navbar-brand navbar nav" href="/"</a>
      <img src="/images/webbeaver.png" width="90" height="40" class="d-inline-block" alt="">
    </a>

    <button class = 'navbar-toggle' data-toggle = 'collapse' data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">


      <ul class="nav navbar-nav navbar-left original">

    <!-- ******** LOGIN ********  -->
        <li class="nav-item">
          <a class="nav-link" href="/clothes">Clothes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tech">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/furniture">Furniture</a>
        </li>
      </ul>
      <!-- Trigger the modal with a button -->
      <ul class="nav navbar-nav navbar-right original">
        <li class="nav-item">
          <a data-toggle="modal" data-target="#login">Login</a>

      <!-- Modal -->
            <div class="modal fade" id="login" role="dialog">
            <div class="modal-dialog">
        
          <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
              <form name="sign in" method = 'post' action = '/login'>
                <ul>
                  <!-- <li style = 'position:relative; font-size:17pt''> Email: </li> -->
                  <li> <input style = 'font-size:14pt; padding: 4px; margin:7px' type = 'text' placeholder = 'Email' name = 'username'> </li>


                  <!-- <li style = 'position:relative; font-size:17pt''> Password: </li> -->

                  <li> <input style = 'font-size:14pt; padding: 4px; margin:7px' type = 'password' placeholder= 'Password' name = 'password'> </li>

                  <li><button class="btn btn-default" type = 'submit'>Login</button></li>
                </ul>
              </form>
            </div>
            </div>
          
            </div>
            </div>
            </li>

    <!-- ******** SIGN UP ********  -->

          <!--   <li class="nav-item"> -->
      <!-- Trigger the modal with a button -->
            <li class="nav-item">
              <a data-toggle="modal" data-target="#signup">Sign Up</a>

      <!-- Modal -->
              <div class="modal fade" id="signup" role="dialog">
                <div class="modal-dialog">
        
          <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Sign Up</h4>
                    </div>
                  <div class="modal-body">
                  <form name="signup" method="post" action="/signup" enctype="multipart/form-data">
                    <ul>
                  <!-- <li>First name</li> -->

                      <li><input type="text" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="First name" name="firstname" required></li>

                  <!-- <li>Last name</li> -->


                      <li><input type="text" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="Last name" name="lastname" required></li>

                  <!-- <li>Venmo</li> -->

                      <li><input type="text" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="Venmo" name="venmo"></li>

                  <!-- <li>Email</li> -->


                      <li><input type="email" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="Email" name="username" required></li>

                  <!-- <li>Password</li> -->

                      <li><input type="password" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="Password" name="password" required></li>

                      <li> <input type='password' style = 'font-size:14pt; padding: 4px; margin:7px' placeholder ="Confirm Password" id = 'password' required></li>
                      <script src="/scripts/confirmpass.js"></script>
                      <li> <input type = 'file' style = 'font-size:14pt; padding:4px; margin:7px' placeholder = 'Upload photo (optional)' name ='picture'></li>
                      <li><button class="btn btn-default" type="submit" style='margin:4px;'>Sign Up</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal" style='margin:4px;'>Cancel</button></li>
                    </ul>
                  </form>
                  </div>  
                </div>
          
                </div>
              </div>
              </li>
              

      </ul>

    </div>
<!--     <div class="collapse navbar-collapse navHeaderCollapse textin">
          <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/clothes">Clothes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tech">Tech</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/furniture">Furniture</a>
          </li>
        </ul>

      </div> -->

</nav>



   
     
  {{/if}}

</div>
