<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel='stylesheet' href='/stylesheets/loginstyle.css' />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>


<div>

    {{#if boolean}}
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #47474C;">

    <a class="navbar-brand navbar nav" href="/"</a>
      <img src="/images/webbeaver.png" width="90" height="40" class="d-inline-block" alt="">

    </a>

    <button class = 'navbar-toggle' data-toggle = 'collapse' data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">


  <form class="navbar-form navbar-left" method="post" action="/searchresults">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="find items" name="term">
    </div>
    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
  </form> 
        <ul class="nav navbar-nav navbar-right original">
          <li class="nav-item">
            <a class="nav-link" href="/newitem">List an Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/starreditems">Starred Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

  {{else}}

  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #47474C;">

    <a class="navbar-brand navbar nav" href="/"</a>
      <img src="/images/webbeaver.png" width="90" height="40" class="d-inline-block" alt="">

    </a>

    <button class = 'navbar-toggle' data-toggle = 'collapse' data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">


  <form class="navbar-form navbar-left" method="post" action="/searchresults">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="find items" name="term">
    </div>
    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
  </form> 

            <ul class="nav navbar-nav navbar-right original">

              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>

            </ul>
          </div>
        </nav>


   
     
  {{/if}}

</div>

