<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel='stylesheet' href='/stylesheets/loginstyle.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/login.js" type="text/javascript"></script>
  <script src="/scripts/updateprofile.js" type="text/javascript"></script>
</head>

<!-- About Us Modal -->
<!-- <div class="modal fade" id="about-us" role="dialog">
  <div class="modal-dialog">
 -->
<!-- Modal content-->
<!--     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About Us</h4>
      </div>
      <div class="modal-body">
        
        A site to buy, sell, trade, or just give away items - created by MIT students for MIT students!

      </div>
    </div>

  </div>
</div> -->

<div>
  <div class="modal fade" id="newitem" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <h4 class="modal-titlelist" >LIST AN ITEM</h4>
          <div id="itemform">
            <form method="post" action="/uploaditem" enctype="multipart/form-data">
            
            <li><input class="inputbox" id="additem" type="text" maxlength="15" placeholder="Item Name" name="itemname" ></li>
            <li><input class="inputbox" id="additemprice" type="text" maxlength="15" placeholder="Price" name="price" ></li>

            <!-- <input id="itemname" class='inputbox' type='text' maxlength="15" placeholder='item name' name='itemname' required>  -->
            

            <!-- <input id='price' class='inputbox' type="number" placeholder='price' name='price' required> -->
            <br>

            <textarea class="inputbox" id='description' rows="6" placeholder='Please write a description of your item here.' name='description' cols="50" required></textarea>

<!--             <textarea id='description' rows="8" placeholder='description' name='description' cols="50" required></textarea> --> <br>
            
            <select id='category' class = id='category' name = 'category' required>
              <option value="clothes">Clothes</option>
              <option value="book">Books</option>
              <option value="tech">Tech</option>
              <option value="furniture">Furniture</option>
            </select>

            <input id="inserttag" class='addtags' type='text' placeholder='Add Tag' name='inserttag'>

            <li><input class="twobuttonsaddtag" id="addtag" type="submit" value="+ +" style="left: 300px;"></li>

<!--             <button id="addtag" class="btn btn-default" type='button'>add</button><br> -->
            <div id="tags"></div>

            <input type="file" name="picture" />

            <li><input class="twobuttonsadditem" id="submititem" type="submit" value="+ +" style="left: 300px;"></li>

            </form>
        </div>
        <script src="/scripts/addtag.js"></script>
      </div>
    </div>
    </div>

    <div class = 'modal fade' id = 'updateprofile' role = 'dialog'>
    <div class = 'modal-dialog'>
    <div class = 'modal-content'>
    <div class = 'modal-header'>
    <button type = 'button' class = 'close' data-dismiss='modal'>&times;</button>
    
    <h4 class = 'modal-title'>Update Account</h4>
    </div>
    <div class = 'modal-body'>
      <form name = 'updateprofile' method = 'post' action = '/updateprofile' enctype="multipart/form-data">
      <ul>
      <li> <button class = 'btn btn-default' id = 'open-display'>Update Display Name</button></li>
      <li><button class = 'btn btn-default' id = 'open-venmo'>Update Venmo</button></li>
      <li><button class = 'btn btn-default' id = 'open-aboutme'>Update About Me</button></li>
      <li><button class = 'btn btn-default' id = 'open-picture'>Update Profile Picture</button></li>
      <li><button class = 'btn btn-default' id = 'open-password'>Change Password</button></li>
      
      <div id = 'display' style = 'display:none;'>
      <li> <input style = 'font-size:14pt; padding: 4px; margin:7px' type = 'text' placeholder = 'First Name' name = 'firstname'> </li>
      <li> <input style = 'font-size:14pt; padding: 4px; margin:7px' type = 'text' placeholder = 'Last Name' name = 'lastname'> </li>
      </div>

      <div id = 'venmo' style = 'display:none;'>
      <li> <input style = 'font-size:14pt; padding: 4px; margin:7px' type = 'text' placeholder = 'Venmo' name = 'venmo'> </li> 
      </div>

      <div id = 'about-me' style = 'display:none;'>
      <li> <textarea rows = 2 cols = 30 name = 'updateaboutme' id = 'updateaboutme' required></textarea> </li>
      </div>

      <div id = 'new-picture' style = 'display:none;'>
      <li> <input style = 'font-size:14pt; padding: 4px; margin:7px' type = 'file' placeholder = 'picture' name = 'picture'> </li> 
      </div>

      <div id = 'display-pass' style = 'display:none;'>
      <li> <input style = 'font-size:14pt; padding: 4px; margin:7px' type = 'password' placeholder = 'new password' name = 'newpassword'></li>   
      </div>
      <br><br>
      <li> <button class = 'twobuttonslog' id = 'makechanges' type = 'submit'> Make Changes </button> </li>
      </ul>
      </form>
      </div>
      </div>
      </div>
      </div>


    {{#if boolean}}
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #47474C;">
    {{#if notification}}
    <div class='notification' style='position: fixed; right: 15px; top: 23px; z-index: 1; background-color: #c2272d; color: white; border-radius: 20px; width: 20px; height: 20px'>!</div>
    {{/if}}
    <a class="navbar-brand navbar nav" href="/home"</a>
      <img src="/images/newbeaverlogo.png" width="40" height="40" style='margin-right: 20px' class="d-inline-block" alt="">

    </a>

    <button class = 'navbar-toggle' data-toggle = 'collapse' data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-left original">

          <li class="nav-item">
            <a class="nav-link" href="/home">Browse All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id='verticalbar'>|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clothes">Clothes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tech">Tech</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/furniture">Furniture</a>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right original">

          <li class="nav-item" id='scrolltoabout'>
            <a class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
             <a class="nav-link dropdown-toggle" type= "button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id='welcomedropdown'> Welcome, {{firstname}}! &nbsp; &#9662; </a>

              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                 <li role="presentation"><a data-toggle="modal" data-target="#newitem">List an Item</a></li>
                 

            <!-- Modal -->
           
                <li role="presentation"><a class="nav-link" href="/starreditems">Starred Items</a></li>
                <li role="presentation"><a class="nav-link" href="/profile">Profile</a></li>
                {{#if notification}}
                <li role="presentation"><a class="nav-link" style='background-color: #E4A3A3' href="/chat">Messages</a></li>
                {{else}}
                <li role="presentation"><a class="nav-link" href="/chat">Messages</a></li>
                {{/if}}
                <li role="presentation"><a class="nav-link" href="/manageitems">Manage Items</a></li>
                <li role = 'presentation'><a data-toggle = 'modal' data-target = '#updateprofile'>Update Account</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
              </ul>

         
          </li>
        </ul>
      </div>
    <script src="/scripts/scroll.js" type="text/javascript"></script>
    </nav>

  {{else}}

  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #47474C;">

    <a class="navbar-brand navbar nav" href="/"</a>
      <img src="/images/newbeaverlogo.png" width="40" height="40" style='margin-right: 10px' class="d-inline-block" alt="">
    </a>

    <button class = 'navbar-toggle' data-toggle = 'collapse' data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">


      <ul class="nav navbar-nav navbar-left original">

    <!-- ******** LOGIN ********  -->
        <li class="nav-item">
          <a class="nav-link" href="/home">Browse All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id='verticalbar'>|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clothes">Clothes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tech">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/furniture">Furniture</a>
        </li>
      </ul>
      <!-- Trigger the modal with a button -->
      <ul class="nav navbar-nav navbar-right original">
      {{#if onIndex}}
        <li class="nav-item">
          <a class="nav-link" id='scrolltoabout'>About Us</a>
        </li> 
      {{else}}
        <li class="nav-item">
          <a data-toggle="modal" data-target="#about-us">About Us</a>

          <!-- About Us Modal -->
          <!-- <div class="modal fade" id="about-us" role="dialog">
            <div class="modal-dialog"> -->
        
          <!-- Modal content-->
              <!-- <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">About Us</h4>
                </div>
                <div class="modal-body">
                  
                  A site to buy, sell, trade, or just give away items - created by MIT students for MIT students!

                </div>
              </div>
          
            </div>
          </div> -->
        </li>
      {{/if}}
        <li class="nav-item">
          <a data-toggle="modal" data-target="#login">Login</a>

      <!-- Modal -->
            <div class="modal fade" id="login" role="dialog">
            <div class="modal-dialog" style='height:20px'>
        
          <!-- Modal content-->
            <div class="modal-content" style='height: 320px'>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">LOGIN</h4>
            </div>
            <div class="modal-body">
            <br>
              <form name="sign in" method = 'post' id="login-form" action = '/login'>
                <ul>
                <div class = 'signuppage'>
                  <!-- <li style = 'position:relative; font-size:17pt''> Email: </li> -->
                   <li><input class="inputbox" id="login1" type="text" placeholder="Email" name="username" ></li>


                  <!-- <li style = 'position:relative; font-size:17pt''> Password: </li> -->

                  <li><input class="inputbox" id="login1" type="text" placeholder="Password" name="password" ></li>

                  <li><input class="twobuttonslog" id="go" type="submit" value="+ +" style="left: 300px;"></li>

                  <li id="login-flash" style="display: none; color: red;">Username or Password incorrect</li>
                  </div>
                </ul>
              </form>
              
              <form id = 'forgot-pass-form'>
              <input class="twobuttonsfog" id="go" type="submit" value="Forgot Password?" style="left: 300px;">
              </form>
              
              <div id = 'forgotpassword' style = 'display:none'>
              <br>
              <form name = 'passwordreset' method = 'post' id = 'forgot-pass' action= '/forgot'>
              <ul>

              <div id = 'forgotpass'>

                <li><input class="inputbox" id="login1" type="text" placeholder="Email" name="recoveremail" ></li>
                <li><input class="twobuttonsforgot" id="go" type="submit" value="+ +" style="left: 300px; margin-bottom: 180px;"></li>
              </div>
              </ul>
              </form>
              </div>

            </div>
            </div>
          
            </div>
            </div>
            </li>




    <!-- ******** SIGN UP ********  -->

          <!--   <li class="nav-item"> -->
      <!-- Trigger the modal with a button -->
            <li class="nav-item">
              <a data-toggle="modal" data-target="#signup">Sign Up</a>

      <!-- Modal -->
              <div class="modal fade" id="signup" role="dialog">
                <div class="modal-dialog">
        
          <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title" >SIGN UP</h4>
                    </div>
                  <div class="modal-body">
                  <form name="signup" method="post" action="/signup" enctype="multipart/form-data">
                    <ul>
                    <div class = 'signuppage'>
                  <!-- <li>First name</li> -->
                      <li><input class="inputbox" id="signup1" type="text" placeholder="First Name" name="firstname" required></li>
<!-- 
                      <li><input type="text" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="First name" name="firstname" required></li> -->

                  <!-- <li>Last name</li> -->
                      <li><input class="inputbox" id="signup1" type="text" placeholder="Last Name" name="lastname" required></li>


                      <!-- <li><input type="text" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="Last name" name="lastname" required></li> -->

                  <!-- <li>Venmo</li> -->

                     <!--  <li><input type="text" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="Venmo" name="venmo"></li> -->
                      <li><input class="inputbox" id="signup1" type="text" placeholder="Venmo" name="venmo" ></li>

                  <!-- <li>Email</li> -->


                      <!-- <li><input type="email" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="Email" name="username" required></li> -->
                      <li><input class="inputbox" id="signup1" type="email" placeholder="Email" name="username" required></li>

                  <!-- <li>Password</li> -->

                      <!-- <li><input type="password" style = 'font-size:14pt; padding: 4px; margin:7px' placeholder="Password" name="password" required></li> -->
                      <!--<li><textarea rows = 2 cols = 30 name = 'aboutme' id = 'aboutme' required></textarea> </li>-->
                       <li><input class="inputbox" id="password" type="password" placeholder="Password" name="password" required></li>

                      <li> <input type='password' style = 'font-size:14pt; padding: 4px; margin:7px' placeholder ="Confirm Password" id = 'confirm_password' name = 'confirm_password' required><span id='message'></span></li>
                      <!-- <li><input class="inputbox" id="signup1" type="password" placeholder="Confirm Password" name="password" required></li> -->

                      <script src="/scripts/confirmpass.js"></script>

                      <!--<li> <input type = 'file' style = 'font-size:14pt; padding:4px; margin:7px' placeholder = 'Upload photo (optional)' name ='picture'></li>-->


                      <li><input name = 'signupbutton' class="twobuttonssign" id="signupbutton" type="submit" value="+ +" style="left: 300px;"></li>
                    </div>
                    </ul>
                  </form>
                  </div>  
                </div>
          
                </div>
              </div>
              </li>

      </ul>
      <script src="/scripts/scroll.js" type="text/javascript"></script>
    </div>
<!--     <div class="collapse navbar-collapse navHeaderCollapse textin">
          <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/clothes">Clothes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tech">Tech</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/furniture">Furniture</a>
          </li>
        </ul>

      </div> -->

</nav>


   
     
  {{/if}}

</div>
