<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

 <body> 
    {{> navbar}}
    <div id='content' style='padding-top: 175px; height: 100%;'>
      <h1>Success!</h1>
      <p>Your item was deleted.</p>
      <button class="btn btn-default" type="button" onclick="location.href='/manageitems'">return to manager</button>&#32;
      <button class="btn btn-default" type="button" onclick="location.href='/home'">return home</button>
    </div>
  </body>
{{>about}}
</html>