<!doctype html>
<html style='height:100%'>
  <head>
    <title>beaver++</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <link rel='shortcut icon' type='image/png' href='/images/modifiedbeaver.png'>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

<body>
    {{> navbar}}



    <div id="content" class="content">
    <h1 id = 'welcomehome'>Buy, sell, or just browse.</h1>
      <div id = 'grouped' class = 'grouped'>
        <img src="/images/beaverlogo2.png" id="logohome2">
            <form id="search" method='post' action="/searchresults">
                <input class="inputbox" id="searchboxhome" type="text"  placeholder="what are you looking for?" name="term">
                <input class="twobuttonshome" id="go" type="submit" value="+ +" style="left: 300px;">
            </form>
        </div>
    </div>

    


    <div id = 'typeofsell'> 
      <h1 id = 'typeofbrowse'>{{type}}</h1>
      <div id="flexbox">
            {{#each starItems}}
              {{> starred_item_partial}}
            {{/each }}
            {{#each otherItems}}
              {{> unstarred_item_partial}}
            {{/each }}
      </div>
    </div>
       


  <script src="/scripts/sortby.js"></script>
  <script src="/scripts/staritem.js"></script>


  </body>

  <div id="about" class="pad-section" style='display:none'>
    <div class="container" id='aboutcontainer'>
      <h1 id = 'welcome'>
          A site to buy, sell, trade, or just give away items - created by MIT students for MIT students!
      </h1>
      <h3 style='margin-top: -100px;'>Made by Reva, Rebecca, and Chris for <a href='http://6.148.scripts.mit.edu'>6.148</a> 2017.</h3>
      <form action="mailto:beaverplusteam@mit.edu" method="GET">
          <input style='border: none; border-radius: 20px; background-color: #E1E1E1; padding: 8px; padding-right: 13px; padding-left: 13px; margin-top: 50px;' type="submit" value="Contact us!" />
      </form> 
    </div>
  </div>

</html>