<!doctype html>
<html>
  <head>
    <title>beaver++</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <link rel="stylesheet" href='/stylesheets/slashscreen.css'> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel='shortcut icon' type='image/png' href='/images/modifiedbeaver.png' />
  </head>

  <body>
    {{> navbar}}


<div id="centerline" class="centerline">
    <div id="content" class="content"> 
        <img src="/images/webbeaver-newfont.png" id="logohome">
        <form id="search" method='post' action="/searchresults">
            <input class="inputbox" id="searchboxhome" type="text"  placeholder="what are you looking for?" name="term">
            <input class="twobuttonshome" id="go" type="submit" value="+ +" style="left: 300px;">
        </form>
    </div>
  </div>
    
<!-- 
    <div id="content">
      <h1 id="habitat">Find dank shit.</h1>
      <form id="search" method='post' action="/searchresults">
        <input class="inputbox" id="searchbox" type="text"  placeholder="find items" name="term">
        <input class="twobuttons" id="go" type="submit" value="+ +" >
      </form>
    </div> -->
      <!-- <div id="categories">
        <u>Search by category</u><br>
        <a href="/clothes">clothes</a><br>
        <a href="/books">books</a><br>
        <a href="/tech">tech</a><br>
        <a href="/furniture">furniture</a><br>
      </div> -->

    <div id="about" class="pad-section">
      <div class="container">
            <h1 id = 'welcome'>
                <div id="browse">
                  {{#each starItems}}
                    {{> starred_item_partial}}
                  {{/each }}
                  {{#each otherItems}}
                    {{> unstarred_item_partial}}
                  {{/each }}
                </div>
            </h1>
       
      </div>
    </div>
<!--     <div id="browse">
      {{#each starItems}}
        {{> starred_item_partial}}
      {{/each }}
      {{#each otherItems}}
        {{> unstarred_item_partial}}
      {{/each }}
    </div> -->
    
  <script src="/scripts/sortby.js"></script>
  <script src="/scripts/staritem.js"></script>
  </body>
</html>