<!doctype html>
<html style='height:100%'>
  <head>
    <title>beaver++</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <link rel='shortcut icon' type='image/png' href='/images/modifiedbeaver.png'>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

<body>
    {{> navbar}}



    <div id="content" class="content">
    <h1 id = 'welcomehome'>Buy, sell, or just browse.</h1>
      <div id = 'grouped' class = 'grouped'>
        <img src="/images/beaverlogo2.png" id="logohome2">
            <form id="search" method='post' action="/searchresults">
                <input class="inputbox" id="searchboxhome" type="text"  placeholder="what are you looking for?" name="term">
                <input class="twobuttonshome" id="gohome" type="submit" value="+ +" style="left: 300px;">
            </form>
        </div>
      <div id='flag'>
        <img id='pole' src='/images/pole.png' style='width: 150px;position: absolute; right: 176px; transform: rotate(-12deg); top: 220px; z-index: 0'>
        <img id='ribbon' src='/images/ribbon.png' style='z-index: 0;position: absolute; right: 120px; max-width: 150px; top: 235px;transform: rotate(168deg);'>
        <a id='ribbontext' style='z-index: 1;transform: rotate(-12deg);font-size: 16pt; color: white; position: absolute; font-family: custom; right: 180px; top: 263px;'>M I T !</a>
        
      </div>
    </div>

    


    <div id = 'typeofsell'> 
      <h1 id = 'typeofbrowse'>{{type}}</h1>
      <div id="flexbox">
            {{#each starItems}}
              {{> starred_item_partial}}
            {{/each }}
            {{#each otherItems}}
              {{> unstarred_item_partial}}
            {{/each }}
      </div>
    </div>
       


  <script src="/scripts/sortby.js"></script>
  <script src="/scripts/staritem.js"></script>
  <script src='/scripts/ribbon.js'></script>


  </body>
<div id='padding' style='width: 100%; height:50px;'></div>
{{>about}}

</html>