<!doctype html>
<html>
  <head>
    <title>beaver++</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <link rel="stylesheet" href='/stylesheets/slashscreen.css'> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel='shortcut icon' type='image/png' href='/images/modifiedbeaver.png' />
  </head>

  <body>
    {{> navbar}}


<div id="centerline" class="centerline">
    <div id="content" class="content">
    <h1 id = 'welcomehome'>Buy, sell, or just browse.</h1>
      <div id = 'grouped' class = 'grouped'>
        <img src="/images/beaverlogo2.png" id="logohome2">
            <form id="search" method='post' action="/searchresults">
                <input class="inputbox" id="searchboxhome" type="text"  placeholder="what are you looking for?" name="term">
                <input class="twobuttonshome" id="go" type="submit" value="+ +" style="left: 300px;">
            </form>
        </div>
    </div>
  </div>
    


    <h1 id = 'typeofsell'> Welcome
    <div id="flexbox">
        <div id="browse">
          {{#each starItems}}
            {{> starred_item_partial}}
          {{/each }}
          {{#each otherItems}}
            {{> unstarred_item_partial}}
          {{/each }}
        </div>
    </div>
    </h1>
       
  

  <script src="/scripts/sortby.js"></script>
  <script src="/scripts/staritem.js"></script>
  </body>
</html>