<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/loginstyle.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/ajax.js"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>


	<body> 
		<div id= 'nav'>
    	<a href="/home">
        <img id="logo" src="/images/beaverlogo.png" alt="HTML tutorial" style="position:relative; top:20px; width:90px;height:90px;border:0;">
      	</a>


      	<a href = '/signup'>
      		<button class = 'button2' type = 'signup'>Sign up!</button>
      	</a>


      	<h1 class = 'welcome' style = 'font-size:40pt;position:relative;top:30px;left:20px'> Welcome to MIT Free &amp; For Sale! </h1>
      	<h2 style = 'font-size: 16pt; position:relative;top:15px;left:20px' class = 'subheading'> A site to buy, sell, trade, or just give away items created by MIT students for MIT students 
    	</div>

    	<div style = 'position:relative; top:140px' id = 'subheader'>
		
		<img id="logo2" src="/images/beaverlogo.png" alt="HTML tutorial">
		</h2>
		</div>
		
		<div style = 'position:relative; top:60px' class = 'login'>


		 	<form name="sign in" method = 'post' action = '/home'>
		 		<ul>
		 			<li style = 'position:relative; right: 110px;font-size:17pt''> Email: </li>
		 			<li> <input style = 'height: 50px; font-size:20pt' type = 'text' placeholder = 'email' name = 'username'> </li>


		 			<li style = 'position:relative; right: 88px;font-size:17pt''> Password: </li>

		 			<li> <input style = 'height: 50px; font-size:20pt;' type = 'text' placeholder= 'password' name = 'password'> </li>

		 			<li><button class="button" type = 'submit'>Login</button></li>
		 		</ul>
		 	</form>

		 </div>
	</body>
</html>


