<!doctype html>
<html>
  <head>
    <title>Manage Items</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

  <body>
    {{> navbar}}

    <div id="managecontent" style='height: 100%'>
      <h1 id="title">Item Manager for {{user}}</h1>
      <p> Update or delete any of your posted items.</p>
      <div id="managercontainer">
        {{#each items}}
          {{> item_manager_partial}}
        {{/each }}
      </div>
    </div>
    <script src="/scripts/deleteitem.js"></script>
  </body>
  <div id='padding' style='width: 100%; height:140px;'></div>
  {{>about}}
</html>