<!doctype html>
<html>
  <head>
    <title>Manage Items</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

  <body>
    {{> navbar}}

    <div id="managecontent">
      <h1 id="title">Item Manager for {{user}}</h1>
      <p> Delete any of your posted items.</p>
      <div id="managercontainer">
        {{#each items}}
          {{> item_manager_partial}}
        {{/each }}
      </div>
    </div>
    <script src="/scripts/deleteitem.js"></script>
  </body>
</html>