<!DOCTYPE html>
<html>
<head>
	<title> Password Recovery</title>
</head>
<body>
<form name = 'resetpassword' action = '/reset/{{ token }}' method = 'post'>
<ul>
<li>
<input type = 'password' name = 'password' placeholder = 'password'>
</li>
<li><button class="button" type = 'submit'>Login</button></li>
</ul>
</form>
</body>
</html>
