

<!DOCTYPE html>
<html>
    <head>
        <title>beaver++</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href='/stylesheets/slashscreen.css'>

    </head>
<body>
    {{> navbar }}
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>


First Page
<div id="home" class="home">
    <div id="center-divs">
        <img src="/images/webbeaver-newfont.png" id="logos" />
        <form name = 'resetpassword' action = '/reset/{{ token }}' method = 'post'>
		<input class = 'inputbox' id= 'newpass' type = 'password' name = 'password' placeholder = 'new password'>
        <br>
        <input class = 'inputbox' id= 'newpassconfirm' type = 'password' name = 'password2' placeholder = 'confirm new password'>

		<br><br><br><br><br><br><br><br><br>
        <span style = 'margin-left:140px;' id='message2'></span></li>
        <script src="/scripts/confirmpass.js"></script>
        <br>
        <button id = 'resetbutton' style = 'margin-top:10px;margin-left:140px;' class="btn btn-default" type = 'submit'>Reset Password</button></li>
        
		</form>
    </div>

</div>




