<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel='stylesheet' href='/stylesheets/loginstyle.css' />
	<title> Welcome to Password Recovery</title>
</head>
<body>
<form name = 'resetpassword' action = '/reset/{{ token }}' method = 'post'>
<ul>
<li>
<input type = 'password' name = 'password' placeholder = 'password'>
</li>
<li><button class="button" type = 'submit'>Reset Password</button></li>
</ul>
</form>
</body>
</html>
