<!doctype html>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

  <body>
    {{> navbar}}

    <div id="content" style='margin-top: 150px; height: 100%'>
      <h1 id="title">Search results for "{{term}}" </h1>
      <div id="products">
        {{#each starred}}
          {{> starred_item_partial}}
        {{/each }}
        {{#each unstarred}}
          {{> unstarred_item_partial}}
        {{/each }}
      </div>
    </div>
    <script src="/scripts/staritem.js"></script>
  </body>
  {{>about}}
</html>