<!DOCTYPE html>
<html>
  <head>
    <title>{{ SignUp }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
   
  </head>

  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><a href="/signup"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="firstname" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="lastname" type="text" required />
                </div>
            </div>
            <input class="form-control" name="venmo" placeholder="venmo" type="text" />
            <input class="form-control" name="username" placeholder="email" type="email" />
            <input class="form-control" name="password" placeholder="password" type="password" />
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
</div>







<!-- 


  <body>
    <h1 name="Sign-Up"></h1>
    <div name="content">


          <h1>{{ title }} Form</h1>

              <form name="signup" method="post" action="/signup">
                <ul>
                  <li>Name</li>

                  <li><input type="text" placeholder="Name" name="name" required></li>

                  <li>Venmo</li>

                  <li><input type="text" placeholder="Venmo" name="venmo"></li>

                  <li>Email</li>


                  <li><input type="email" placeholder="Email" name="username" required></li>

                  <li>Password</li>

                  <li><input type="password" placeholder="Password" name="password" required></li>

                  <li> <input type='password' placeholder ="Confirm Password" id = 'password' required></li>
                  <script src="/scripts/confirmpass.js"></script>
                  <li><button type="submit">Sign Up</button>
                </ul>
              </form>
 
<!--         <div id =wrapper> -->




<!--       <a href="/userlist">See userlist</a> -->
 <!--    </div>

  </body> --> -->
</html>