<!DOCTYPE html>
<html>
    <head>
        <title>beaver++</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href='/stylesheets/slashscreen.css'>

    </head>
<body>
    {{> navbar }}
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>


<!--First Page-->
<div id="home" class="home">
    <div id="center-divs">
        <img src="/images/webbeaver-newfont.png" id="logos" />
        <form id="search" method='post' action="/searchresults">
            <input class="inputbox" id="searchbox" type="text"  placeholder="what are you looking for?" name="term">
            <input class="twobuttons" id="go" type="submit" value="+ +" style="left: 300px;">
        </form>
    </div>

</div>


<!-- second section - About -->
<div id="about" class="pad-section">
    <div class="container">
        
            <h1 id = 'welcome'>
                A site to buy, sell, trade, or just give away items - created by MIT students for MIT students!
            </h1>
       
    </div>
</div>






<!-- 
<html>
<head>
<style>
.parallax {
    /* The image used */
    background: white;

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>


<div class="parallax"></div>
    <center>

        <img id="logo" src="/images/webbeaver.png" height=30% width=50%>

    </center>

<div style="height:1000px;background-color:red;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

</body>
</html>
