<!-- <!DOCTYPE html>
    <head>
        <link rel="stylesheet" href='/stylesheets/slashscreen.css'>
    </head>
<body>

    <center>

        <img id="logo" src="/images/webbeaver.png" height=30% width=50%>
    </center>



<section class = 'parallax'>
    <div class = 'parallax-inner'>
        <h1>What does our product do?></h1>
        <h2>It does some dope shit<

    </div>
</section>


</body>
</html> -->

<!-- <html> -->
<!-- <head>
    <link rel="stylesheet" href='/stylesheets/slashscreen.css'>
</head> -->
<!-- <style>
body, html {
    height: 100%;
}

</style>

<body>

<div id ="parallax">
<form id="search" method='post' action="/searchresults">
    <input class="inputbox" id="searchbox" type="text" placeholder="search" name="term">
    <input class="navbutton" id="go" type="submit" value="go!">
  </form>


</div>



<div class = "search">
    <h1 class = 'main'>
        Welcome to Beaver++
    </h1>
    <h2 class= 'body'>
        We do dope shit
    </h2>


</div>

<div class="parallax"></div>

</body>
</html>
 -->
<!-- <head>
    <link rel="stylesheet" href='/stylesheets/slashscreen.css'>
</head>

<div class="container">
    <img src="/images/webdev.jpg" alt="Beaver++" height= 50% width= 60% />
    <form id="search" method='post' action="/searchresults">
        <input class="inputbox" id="searchbox" type="text" placeholder="search" name="term">
        <input class="navbutton" id="go" type="submit" value="go!">
    </form>

 </div> -->
 <!-- <html>
 <body>
 <table align = 'center'>
    <tr>
        <td>
        <table>
         -->

<!DOCTYPE html>
<html>
    <head>
        <title>beaver++</title>
        <link rel="stylesheet" href='/stylesheets/slashscreen.css'>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    {{> navbar }}

<body>
<img src="/images/pretty.png"  id="mains">
    <div id="center-divs">
        <img src="/images/webbeaver.png" id="logos" />
        <form id="search" method='post' action="/searchresults">
            <input class="inputbox" id="searchbox" type="text"  placeholder="find items" name="term">
            <input class="twobuttons" id="go" type="submit" value="+ +" style="left: 300px;">
        </form>

</div>
</body>
</html>





<!-- 
<html>
<head>
<style>
.parallax {
    /* The image used */
    background: white;

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>


<div class="parallax"></div>
    <center>

        <img id="logo" src="/images/webbeaver.png" height=30% width=50%>

    </center>

<div style="height:1000px;background-color:red;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

</body>
</html>
