<!doctype html>
<html>
  <head>
    <title>Starred Items</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

  <body>
    {{> navbar}}

    <div id="content" style='margin-top: 130px; height: 100%'>
      <h1 id="title">{{firstname}}&#39;s favorites </h1> <br>
      <div id="products">
        {{#each starred}}
          {{> starred_item_partial}}
        {{/each }}
      </div>
    </div>
    <script src="/scripts/staritem.js"></script>
  </body>
  {{>about}}
</html>