<!DOCTYPE html>
<html>
  <head>
    <title>success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

 <body> 
<<<<<<< HEAD
    <div id="nav">
      <a href="/home">
        <img id="logo" src="/images/beaverlogo.png" alt="HTML tutorial" style="width:60px;height:60px;border:0;">
      </a>
      <button class="navbutton" type="button">Logout</button>
      <button class="navbutton" type="button">Starred Items</button>
      <button class="navbutton" type="button" onclick="location.href='/newitem'">List an Item</button>
      <div id="search">
        <input class="inputbox" id="searchbox" type="text" placeholder="search">
        <input class="navbutton" id="go" type="submit" value="go!">
      </div>
    </div>
=======
    {{> navbar}}
>>>>>>> 57bcd4ec1c20c4ac8e52a098a2dea9b4f64f69ad
    <div id='content'>
      <h1>Success!</h1>
      <p>Your item is now live.</p>
      <button class="contentbutton" type="button" onclick="location.href='/home'">return home</button>&#32;
      <button class="contentbutton" type="button" onclick="location.href='/newitem'">list another item</button>
    </div>
  </body>
</html>