body { 
  font: 13px Helvetica, Arial; 
}

form { 
  padding: 10px; 
  position: fixed; 
  bottom: 0; 
  right: 15px; 
}

form input { 
  font-size: 14px;
  height: 35px;
  border: none;
  border-bottom: solid 1px #ccc;
  margin: 10px; 
  width: 300px; 
  display: inline-block;
}
form input:focus { 
  outline:none;
}

form button { 
  width: 50px; 
  background: #ccc; 
  border-radius: 7px;
  border: none; 
  padding: 10px; 
  display: inline-block;
}
#messages {
  list-style-type: none; 
  overflow:   auto;
  position:   absolute;
  right: 60px;
  bottom: 60px;
  width: 365px;
  max-height: 85%;
}


#messages li { 
  padding: 5px 10px; 
  max-width: 365px;
  word-wrap: break-word;
}

#messages li:nth-child(odd) { 
  background: #eee; 
}

#convos {
  background-color: #ccc;
  width: 40%;
  padding: 15px;
}
#nochat {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 365px;
  height: 85%;
}
#users {
  position: fixed;
  right: 60px;
  top: 60px;
}
