@font-face {
  font-family: raleway;
  src: url(/fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: ralewayMed;
  src: url(/fonts/Raleway/Raleway-Medium.ttf);
}

body {
  height: 100%;
  font-family: raleway;
}

form#sendmsg { 
/*  padding: 10px; */
  position: relative; 
  height: 100%
/*  bottom: 50px; */
  width: 65%;
  right: 0px; 
  margin-left: 35%;
}

form#sendmsg input { 
  font-size: 14px;
  height: 35px;
  border: none;
  border-bottom: solid 1px #ccc;
  margin: 10px; 
  width: 65%; 
  display: inline-block;
}
form#sendmsg input:focus { 
  outline:none;
}

form#sendmsg button { 
  width: 50px; 
  background: #ccc; 
  border-radius: 7px;
  border: none; 
  padding: 10px; 
  display: inline-block;
}

.userbutton {
  position: absolute;
/*  left: 50px;*/
  margin: 0px;
  text-align: center;
/*  margin-bottom: 15px;*/
  background-color: #fff;
/*  border-bottom: 1px solid black !important;*/
  border: none;
  width: 100%;
  height: 60px;
/*  border-radius: 10px*/
}

.userbutton:hover{
  background-color: #E1E0E0;
}

.selectuser {
  position: absolute;
  left: 50px;
  margin-bottom: 15px;
  background-color: #fff;
  border: none;
  border-radius: 10px
}

#messages {
  list-style-type: none; 
  overflow:   auto;
  position:   absolute;
  right: 175px;
  bottom: 100px;
  width: 405px;
  max-height: 65%;
}


#messages li { 
  border-radius: 5px;
  margin: 5px;
  padding: 10px; 
  max-width: 365px;
  word-wrap: break-word;
}

#msgtitle {
  text-align: left;
  position: relative;
  margin-left: 30px;
  width: 30px;
  top: -20px;
  font-size: 20px;
  left: 6%;
}

#convos {
  text-align: left;
  position: relative;
  overflow: auto;
/*  top: 7px;*/
  height: 100%;
/*  border-radius: 10px;*/
  background-color: #E1E0E0;
  width: 35%;
  margin-left: -20px;
  margin-top: -14px;
  border-left: 0px !important;
  border: 2px solid black;



/*  padding: 15px;*/
/*  margin-left: 60px;*/
}
#nochat {
  position: relative;
  top: -400px;
  right: -300px;
  /*width: 365px;*/
  height: 85%;
}
#users {
  position: fixed;
  right: 60px;
  top: 60px;
}

#content{
  margin: 20px;
  margin-top: 130px;
}

#from-user {
  right: 0px;
  text-align: right;
  background: #E1E0E0;
}

#from-other {
  text-align: left;
  background: #F5F5F5;
}



#receiver {
  position: absolute;
  right: 178px;
  top: 100px;
  z-index: 1;
}