@font-face {
  font-family: custom;
  src: url(/fonts/Raleway/Raleway-Regular.ttf);
}

body {
  font-family: custom;
}

head{

}
body {

	list-style-type: none;
	margin-top: -20px;
  	font-family: custom;
  	text-align: center;
  	display: block;
}

div.login{
	margin-top: 0px;
	padding-top: 20px;
	font-size: 30px;
}
.subheading{
	background-color:;
}
ul{
	list-style-type: none;
}
.welcome{
	overflow: 0;
	margin-top: 200px;
	display: inline;

}
.button{
	font-family: custom;
	font-size: 14pt;
	height:40px;
	width:80px;
	background-color: #D3D3D3;
  	border-radius: 15px;
	border: none;
	border-bottom: solid 5px #878787;
	border-right: solid 5px #878787;
}
.button2{
	margin-top: 60px;
	margin-right:70px;
	float:right;
	height:40px;
	width:90px;
	font-family: custom;
	font-size: 14pt;
	background-color: #D3D3D3;
  	border-radius: 15px;
	border: none;
	border-bottom: solid 5px #878787;
	border-right: solid 5px #878787;

}


#logo {
  float:left;
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
}
#logo2{
	margin-right: 60px;
	float:center;
	margin-top:-30px;
	width:600px;
	height:460px;
	border:0;
}