

html, body {
  height: 100%;
width: 100%;
}


#home {
  background: url(/images/dome.png) no-repeat center center fixed;
  display: table;
  height: 104%;
  position: relative;
  width: 100%;
/*-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;*/
  background-size: cover;

}

#about{
  height: 91%;
  width: 100%;
}

#center-divs {

    width: 700px;
    height: 350px;
    top: 50%;
    margin-top: -95px;
    left: 50%;
    margin-left: -375px;
}

#welcome{
  padding: 175px;
}


#logos {
    position: absolute;
    height: 182px;
    width: 450px;
    left: 15%;
    top: 0px;
    margin-left: 40px;
}

#searchbox {
    position: absolute;
    color: #000;
    width: 240px;
    height: 30px;
    top: 88px;
    border: none;
    border-bottom: solid 1px #6C6C6C;
    background:transparent;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 25px;
}
#searchbox:focus {
  outline:none;
}

.search{
    height: 100%;
    background-position: center;
    background-size: cover;
    border: none;
}

.twobuttons {
  border: none;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #C1272D;
    top: 162px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 20px;
    margin-left: 60px;

}
.twobuttons:focus {
  outline:none;

}
.twobuttons:hover {
  background-color: #a1282d


.search{
    height: 100%;
    background-position: center;
    background-size: cover;
    border: none;
}

.twobuttons {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #C1272D;
    top: 162px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 20px;
    margin-left: 60px;

}

.container {
    width: 100%;
    height: 0px;
/*    position: relative;*/
    background-color: white;
    background-size: cover;
    background-position: center;
}



