@font-face {
  font-family: raleway;
  src: url(/fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: ralewayMed;
  src: url(/fonts/Raleway/Raleway-Medium.ttf);
}

body {
  padding: ;
  font-family: raleway;
}
a{
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #000;
}
a:hover {
  color: #D3D3D3;
}

#nav {
  position: fixed;
  background-color: #F3F3F3;
  width: 100%;
  border-bottom: solid 1px #ccc;
  margin-top: -10px;
  margin-left: -10px;
}
#content {
  padding: 50px;
  padding-top: 90px;
}
#logo {
  float:left;
  padding: 10px;
  display: inline-block;
}

.navbutton {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  padding: 7px;
  font-family: ralewayMed;
  background-color: #D3D3D3;
  border-radius: 15px;
  border: none;
  border-bottom: solid 5px #878787;
  border-right: solid 5px #878787;
}
.navbutton:active {
  border: none;
}
.navbutton:focus {
  outline: 0;
}
#title{
  margin-left: 40px;
}
#testp {
  padding: 20px;
  padding-top: 0px;
}
#search {
  display: inline;
  float: left;
  margin-top: 0px;
  margin-left: 180px;
}
#searchbox {
  width: 200px;
}
#go{
  padding: 7px;
  margin-left: 10px;
}
.inputbox {
  margin-top: 25px;
  padding: 7px;
  border-radius: 7px;
}
#categories{
  line-height: 24px;
  background-color: #F3F3F3;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
}
#browse{
  max-width: 980px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 240px;
  margin-top: -160px;
  background-color: #F3F3F3;
  display: inline-block;
}
#products{
  border-radius: 20px;
  padding: 10px;
  margin-left: 40px;
  margin-top: 20px;
  background-color: #F3F3F3;
  display: inline-block;
}
.product{
  text-align: center;
  margin: 20px;
  width: 194px;
  height: 194px;
  background-color: #C8C8C8;
  border: solid 3px #878787;
  border-radius: 15px;
  display: inline-block;
}
#productcontent{
  /*line-height: 200px;*/
}
.contentbutton {
  margin-top: 10px;
  padding: 7px;
  font-family: ralewayMed;
  background-color: #D3D3D3;
  border-radius: 15px;
  border: none;
  border-bottom: solid 5px #878787;
  border-right: solid 5px #878787;
}

.contentbutton:active {
  border: none;
}

.contentbutton:focus {
  outline: 0;
}

#description{
  border: solid 2px #eeeeee;
  border-top: solid 2px #9a9a9a;
  border-left: solid 2px #9a9a9a;
  margin-top: 25px;
  padding: 7px;
  border-radius: 7px;
}
#itemname{
  width: 135px;
  margin-right: 20px;
}
#itemcontent{
  margin:auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  text-align: center;
  max-width: 30%;
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #C4C4C4;
}
.popup .popupcontent {
  padding: 10px;
  margin: 10px;
}
.tag{
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 7px;
  font-size: 12px;
  background-color: #D3D3D3;
  border-radius: 15px;
  display: inline-block;
}
.tagtext{
  display:inline-block;
}
.closetag{
  display: inline-block;
  border: none;
  background-color: #878787;
  border-radius: 15px;
}
.star {
  font-size: 25px;
  position: absolute;
  top: 27px;
  left: 30px;
}
.blankstar {
  font-size: 25px;
  position: absolute;
  top: 27px;
  left: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.show {display:block;}
.dropdown{
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  font-family: ralewayMed;
}
.dropbtn {
  padding: 7px;
  background-color: #D3D3D3;
  border-radius: 15px;
  border: none;
  border-bottom: solid 5px #878787;
  border-right: solid 5px #878787;
}
.dropbtn:active {
  border: none;
}
.dropbtn:focus {
  outline: 0;
}
.droppedbtn{
  background-color: #D3D3D3;
  margin: 7px;
  display: block;
  padding: 4px;
}
/*
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}*/