@font-face {
  font-family: raleway;
  src: url(/fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: ralewayMed;
  src: url(/fonts/Raleway/Raleway-Medium.ttf);
}

body {
  padding: ;
  font-family: raleway;
}
a{
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #000;
}
a:hover {
  color: #D3D3D3;
}

.dropdown {
  padding:15px;
  margin-right: 10px;
}
/*POP UPS*/
body.modal-open div.modal-backdrop { 
    z-index: 0; 
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 5%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #E5E5E5;
    margin: 5px auto; /* 15% from the top and centered */
    border: .5px solid #47474C;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 400px;
}

.modal-header {
  height: 20px;
}

.modal-title{
  font-size: 20px;
}
.modal-price{
  font: 10px;
}

.modal-body{
  height: 300px;
  top: 50px;
  padding-top: 0px;

}

.modal-description{
  padding-top: 5px;

}

/*  height: 140px;
  width: 194px;*/

.model-image{
  max-width: 300px;
  max-height: 230px;
}

.post-modal{
  font-size: 10px;
}

.sellingproduct{
  width: 50px;
  height: 40px;
}


/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 12px;
    top: 0; 
    color: #000;
    font-size: 45px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.popup{
  display:none;
  position:fixed; 
  top:0;
  left:0;
  color:blue;
  width:100%;
  height:100%;
}
#popupwrapper{
  position:fixed; 
  width:500px;
  margin:70px;

}
#popupcontainer{
  background-color: purple;
}

/*#nav {
=======
p{
  margin-left: 40px;
}
#nav {
>>>>>>> 6fc630f3a1f73006ff74c8e239084e11b6b2f2cf
  position: fixed;
  background-color: #999898;
  width: 100%;
  border-bottom: solid 1px #ccc;
  margin-top: -10px;
  margin-left: -10px;
}
*/

.categories{
  margin-top: 70px;
  text-align:center;
  height: 50px;
}

.textin{
  text-align:center;
  float:none;
}

#nav {
  position: fixed;
  background-color: #999898;
  width: 150%;
/*  border-bottom: solid 1px #ccc;
*/  height: 20px;
  top: 0px;
  right: 0px;

}

.navbutton {
  float: right;
  margin-right: 45px;
  margin-top: 20px;
  font-family: ralewayMed;
  padding: 0;
  border: none;
  background: none;
}

.droppedbtn{
  float: right;
  margin-right: 0px;
  margin-top: px;
  font-family: ralewayMed;
  font-size: 15px;
  padding: 26px;
  border: none;
  background: none;
}

.droppedbtn:hover {
  background-color: #727272; 
   


}

.centerline{
  background: url(/images/long-background2.png) fixed;

  display: table;
  height: 400px;
  position: relative;
  width: 100%;
/*-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;*/
  background-size: 100% 450px;

}

.content {

    position: absolute;
    width: 100%;
    height: 400px;
/*    top: 50%;*/
    margin-top: 150px;
/*    left: 50%;
*/  margin-left: 0px;
}
/*  background-size: 100% 400px;
*//*-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;*/


/*#logohome {
    position: absolute;
    height: 142px;
    width: 350px;
    left: 15%;
    top: 108px;
    margin-left: 40px;
}*/

#logohome2 {
    position: absolute;
    height: 142px;
    width: 118px;
    left: 15%;
    top: 108px;
    margin-left: 20px;
}

#searchboxhome {
    position: absolute;
    color: #000;
    width: 185px;
    height: 23px;
    top: 125px;
    border: none;
    border-bottom: solid 1px #6C6C6C;
    background:transparent;
    font-family: sans-serif;
    font-size: 15.4px;
    margin-left: -85px;
}
#searchboxhome:focus {
  outline:none;
}

#welcomehome{
  color: #C2272D;
  margin-left: 200px;
  font-size: 50px;
  position: absolute;

}

#grouped{
  position: absolute;
}


.twobuttonshome {
  border: none;
    position: absolute;
    width: 77px;
    height: 23px;
    background-color: #C1272D;
    top: 190px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 20px;
    margin-left: -70px;

}
.twobuttonshome:focus {
  outline:none;

}
.twobuttonshome:hover {
  background-color: #a1282d
}

#hometext{
  font-size: 200%;
  padding: 10px;
  position: fixed;
  top: 15px;
  left: 70px;
}


/*.navbutton {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  padding: 7px;
  font-family: ralewayMed;
  background-color: #D3D3D3;
  border-radius: 15px;
  border: none;
  border-bottom: solid 5px #878787;
  border-right: solid 5px #878787;
}*/
.navbutton:active {
  border: none;
}
.navbutton:focus {
  outline: 0;
}

#testp {
  padding: 20px;
  padding-top: 0px;
  padding-left: 0px;
}
#search {
/*  display: inline;*/
  float: left;
/*  margin-top: 0px;
*/  margin-left: 270px;
  margin-bottom: 150px;
}
/*#searchbox {
  width: 200px;*/
#mains {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#center-divs {

    position: absolute;
    width: 700px;
    height: 350px;
    top: 50%;
    margin-top: -95px;
    left: 50%;
    margin-left: -375px;
}




#habitat{

  height: 250px;
  padding-top: 200px;
  padding-right: 400px;
  font-size: 70px;
}


.original li a {
    line-height: 38px;
    right: 25px;
}

.navbar-form{

    line-height: 50px;
    right: 15px;
}

.btn-default{
  color: black;

}


#searchtopbox{
    position: absolute;
    width: 200px;
    height: 14px;
    top: -5px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 450px;
}

.onebutton{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #C1272D;
    top: 28px;
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 20px;
    margin-left: 675px;
}



}
#go{
  padding: 7px;
  margin-left: 10px;
}
.inputbox {
  margin-top: 25px;
  padding: 7px;
  
}

#profpic{
  max-width: 300px;
  max-height: 300px;
}

#categories{
  line-height: 24px;
  background-color: #F3F3F3;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;

}
/*#browse{
  flex:auto;
}*/

.container {
    width: 100%;
    /*height: 0px;*/
/*    position: relative;*/
    background-color: white;
    background-size: cover;
    background-position: center;
}

#flexbox{

  margin-top: 30px;
  width: 100%;
  display: flex;
/*  flex-flow: row wrap;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


  /* This aligns items to the end line on main-axis */
/*  justify-content: flex-end;*/
}

#typeofsell{
  color: #C2272D;
  margin-top: 30px;
  font-size: 50px;
  position: absolute center;
}

#products{
  border-radius: 20px;
  padding: 10px;
  margin-left: 40px;
  margin-top: 20px;
  background-color: #F3F3F3;
  display: inline-block;
}

#forsale{
  max-height: 140px;
  max-width: 174px;
  flex:auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}

.product{
  text-align: center;
  margin: 20px;
  width: 175px;
  height: 175px;
  background-color: #E5E5E5;
  border: solid .5px #47474C;
  border-radius: 3px;
  display: inline-block;
}
.product img {
  max-width: 100%;
  max-height: 100%;
}
#productcontent{
  font-size: 15px;
  color: #47474C;
  margin-bottom:5px;
  margin-left: 2px;
  width: 100px;
  float: left;
}
#productcontent2{
  font-size: 10px;
  color: #47474C;
  margin-left: 2px;
  width: 100px;
  margin-right: 0px;
  float:left;
}
#productcontent3{
  font-size: 20px;
  color: #47474C;
  float: right;
  bottom: 20px;
  margin-right: 2px;
  margin-top: 11px;
/*  margin-left: 2px;*/
}

.contentinbox{
  top:50px;
}


.contentbutton {
  margin-top: 10px;
  padding: 7px;
  font-family: ralewayMed;
  background-color: #D3D3D3;
  border-radius: 15px;
  border: none;
  border-bottom: solid 5px #878787;
  border-right: solid 5px #878787;
}

.contentbutton:active {
  border: none;
}

.contentbutton:focus {
  outline: 0;
}

#description{
  border: solid 2px #eeeeee;
  border-top: solid 2px #9a9a9a;
  border-left: solid 2px #9a9a9a;
  margin-top: 25px;
  padding: 7px;
  border-radius: 7px;
}
#itemname{
  width: 135px;
  margin-right: 20px;

}
#itemcontent{
  margin:auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  text-align: center;
  max-width: 30%;
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #C4C4C4;
}
.popup .popupcontent {
  padding: 10px;
  margin: 10px;
}
.tag{
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 7px;
  font-size: 12px;
  background-color: #D3D3D3;
  border-radius: 15px;
  display: inline-block;
}
.tagtext{
  display:inline-block;
}
.closetag{
  display: inline-block;
  border: none;
  background-color: #878787;
  border-radius: 15px;
}
.star {
  font-size: 30px;
  position: absolute;

/*  top: 27px;
  left: 30px;*/
}
.blankstar {
  font-size: 25px;
  position: absolute;
  top: 27px;
  left: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.show {display:block;}

/*.dropdown{
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  font-family: ralewayMed;
}
.dropbtn {
  float: right;
  margin-right: 45px;
  margin-top: dr;
  font-family: ralewayMed;
    padding: 0;
    border: none;
    background: none;
}
.dropbtn:active {
  border: none;
}
.dropbtn:focus {
  outline: 0;
}*/

#sortbox{
  margin-top: 15px;
  width: 143px;
  line-height: 24px;
  background-color: #F3F3F3;
  padding: 20px;
  border-radius: 20px;
}
.manage_elt{
  display: inline-block;
}
.manageritem {
  padding: 7px;
}
.canceldelete{
  display:inline-block;
}
.deletebtn{
  display: inline-block;
}
.hiddenconfirm{
  padding: 7px;
}
/*
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}*/