<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/ajax.js"></script>
  </head>

 <body> 
	 <h1 class='main title'> Welcome to MIT Free and For Sale </h1>
	 <div class = 'login'>
	 	<h1> Login </h1>
	 	<form name="sign in" method = 'post' action = '/signin'>
	 		<ul>
	 			<li> Username </li>
	 			<li> <input type = 'text' placeholder = 'Username' name = 'username'> </li>

	 			<li> Password </li>

	 			<li> <input type = 'text' placeholder= 'password' name = 'password'> </li>

	 			<li><button type = 'submit'>Login</button></li>
	 		</ul>
	 	</form>

	 	<a href = '/signup'> Sign up </a>

	 </div>
	</body>
</html>


