<!DOCTYPE html>
<html>
  <head>
    <title>New Item</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <body> 
    {{> navbar}}
    <div id="content">
      <h1>Submit a new item to sell</h1>
      <div id="itemform">
        <input id="itemname" class='inputbox' type='text' maxlength="15" placeholder='item name' name='itemname'> 
        &#36;&#32;<input id='price' class='inputbox' type="number" placeholder='price' name='price'>
        <br>
        <textarea id='description' rows="8" placeholder='description' name='description' cols="50"></textarea> <br>
        
        <select id='category' name = 'category'>
          <option value="clothes">Clothes</option>
          <option value="book">Book</option>
          <option value="text">Text</option>
          <option value="furniture">Furniture</option>
        </select>

        <input id="inserttag" class='inputbox' type='text' placeholder='add tags' name='inserttag'>
        <button id="addtag" class="contentbutton" type='button'>add</button><br>
        <div id="tags"></div>

        <button id="submititem" class="contentbutton" type = 'submit'>list it!</button>&#32;
        <button type="button" class="contentbutton" onclick="location.href='/home'">cancel</button><br>
      </div>
    </div>
    <script src="/scripts/addtag.js"></script>
  </body>
</html>


