<!DOCTYPE html>
<html>
  <head>
    <title>Upload Item</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

 <body> 
   <h1>Upload a new item to sell</h1>
  <form name="newitem" method = 'post' action = '/uploaditem'>
    <input type = 'text' placeholder = 'item name' name = 'itemname'><br>
    <textarea rows="4" placeholder='description' name='description' cols="50"></textarea> <br>
    <button type = 'submit'>Upload</button><br>
  </form>
</body>

</html>


