<!DOCTYPE html>
<html>
  <head>
    <title>{{ SignUp }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>
    <h1 name="Sign-Up"></h1>
    <div name="content">
      <h1>{{ title }} Form</h1>

      <form name="signup" method="post" action="/signup">
        <ul>
          <li>Name</li>

          <li><input type="text" placeholder="Name" name="name"></li>

          <li>Venmo</li>

          <li><input type="text" placeholder="Venmo" name="venmo"></li>

          <li>Email</li>

          <li><input type="text" placeholder="Email" name="username"></li>

          <li>Password</li>

          <li><input type="text" placeholder="Password" name="password"></li>

          <li><button type="submit">Sign Up</button>
        </ul>
      </form>

<!--       <a href="/userlist">See userlist</a> -->
    </div>
  </body>
</html>