<!DOCTYPE html>
<html>
  <head>
    <title>success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

 <body> 
   <h1>successful upload</h1>
   <a href='/home'>home</a>
</body>

</html>